@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hi Azure hero's,</h1>
    <p>Welcom at the <a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204">Microsoft Certified: Azure Developer Associate</a> training powered by LINKIT!</p>
</div>
